#outer-border {
    border: 2px solid gray;
    padding: 20px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

#about-the-candidate {
    border: 2px solid gray;
    padding: 16px 12px;
    margin: 0 auto;
}

#form-layout {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    min-width: 480px;
}

.row-group {
    display: flex;
    flex-flow: row nowrap;
    min-width: 560px;
}

#about-section {
    display: flex;
    flex-flow: row nowrap;
}
#bio {
    width: 100%;
}