.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#search-box {
    min-width: 60px;
    flex-shrink: 1;
    flex-grow: 1;
    padding-left: 10px;
    height: 2em;
    max-height: 2em;
    border: 2px solid #0079c9;
    border-radius: 4px;
    box-sizing: border-box;
}

#search-box:focus {
    outline: none;
    border: 2px solid #0079c9;
    color: #008001;
    caret-color: #009600;
}

#search-box:not(:focus):not(:placeholder-shown) {
    color: #008001;
}

#search-box:not(:focus):not(:placeholder-shown):hover {
    color: red;
}

#search-box:focus::placeholder {
    color: transparent;
}

#find-button {
    height: 2em;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f3f3f3;
    color: green;
    border: 1px solid #969696;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

#find-button:hover {
    color: red;
}
